<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/login/login.css" rel="stylesheet" />
    <title>๋ก๊ทธ์ธ</title>
  </head>

  <body>
    <header class="header-container">
      <a href="/main" id="homeBtn">HOME</a>
      <h1 id="title">ษดแดแดแด สแดแดแด๐</h1>
    </header>
    <div class="login-container">
      <form class="login-form">
        <input type="email" name="email" placeholder="์ด๋ฉ์ผ ์๋ฅ" />
        <input type="password" name="password" placeholder="ํจ์ค์๋ ์๋ฅ" />
        <button type="submit" id="login-button">๋ก๊ทธ์ธ</button>
        <button type="button" class="signup-button">ํ์๊ฐ์</button>
      </form>
    </div>
  </body>
  <script src="/login/login.js"></script>
</html>
