<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/signup/signup.css" rel="stylesheet" />
    <title>회원가입</title>
  </head>

  <body>
    <header class="header-container">
      <a href="/main" id="homeBtn">HOME</a>
      <h1 id="title">ɴᴏᴅᴇ ʙᴏᴏᴋ📚</h1>
    </header>
    <div class="signup-container">
      <form class="signup-form">
        <input type="text" name="nickname" placeholder="닉네임 입력" />
        <input type="email" name="email" placeholder="이메일 입력" />
        <input type="password" name="password" placeholder="패스워드 입력" />
        <input type="password" name="confirm" placeholder="패스워드 확인" />
        <select id="fruit" name="interest">
          <option value="Music">음악</option>
          <option value="Movie">영화</option>
          <option value="Restaurant">맛집</option>
          <option value="Exercise">운동</option>
          <option value="Travel">여행</option>
        </select>
        <button type="submit" class="signup-button">가입하기</button>
        <button type="button" class="signup-cancel">취소</button>
      </form>
    </div>
  </body>
  <script src="/signup/signup.js"></script>
</html>
